.posts {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.posts .post {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .posts .post {
        flex-basis: calc(50% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
